<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- separate more than one messages with / -->
    <add key="MESSAGES_LIST" value="Happy Birthday!!/Happy birthday! I hope all your birthday wishes and dreams come true/May the joy that you have spread in the past come back to you on this day. Wishing you a very happy birthday!"/>
    <add key="FACEBOOK_USER" value="INPUT HERE YOUR FACEBOOK USER"/>
    <add key="FACEBOOK_PASSWORD" value="INPUT HERE YOUR FACEBOOK PASSWORD"/>
    <add key="DEBUG_MODE" value="false"/>
  </appSettings>
</configuration>