<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- separate random phrases separated for "/" -->
    <add key="MESSAGES_LIST" value="Meus parabéns, muitos anos de vida, saúde, paz e sucesso! Desejo que seu dia seja repleto de alegrias!/Meus parabéns, muitas felicidades, saúde, paz e sucesso!"/>
  <!-- input here your facebook user -->
    <add key="FACEBOOK_USER" value="xxxxxxxxxxxx"/>
  <!-- input here the password -->
    <add key="FACEBOOK_PASSWORD" value="xxxxxxxxxxxx"/>
  <!-- if true, you will see each steps -->  
  <add key="DEBUG_MODE" value="false"/>
  </appSettings>
</configuration>