<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- separate random phrases separated for "/" -->
    <add key="MESSAGES_LIST" value="Feliz aniversário!!!Tudo de bom/Meus parabéns, muitos anos de vida, saúde, paz e sucesso!/Meus parabéns, muitas felicidades, saúde e paz!/"/>
  <!-- input here your facebook user -->
    <add key="FACEBOOK_USER" value="XXXXXXXXX"/>
  <!-- input here the password -->
    <add key="FACEBOOK_PASSWORD" value="XXXXXXXXXXXX"/>
  <!-- if true, you will see each steps -->  
  <add key="DEBUG_MODE" value="false"/>
  </appSettings>
</configuration>